body{
    background-color: #000;
    a{
        color: red;
        font-size: 2em;
        transition: all 1s ease;
        text-decoration: none;
        &:hover{
            color: purple;
        }
    }
    #masection{
        a{
            color: chocolate;
            font-size: 1.5em;
            &:hover{
                color: goldenrod;
            }
        }
    }
    h1{
        display: flex;
        justify-content: center;
        font-size: 3rem;
        color: #f8fafa;
        transition: all 1s ease;
        &:hover{
            color: #04434f;
        }
    }
}

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body{
    @include tablet {
        color: burlywood;
    }

    @include desktop {
        color: turquoise;
    }
}